
.vs/ArcGIS_ServiceWrapper/v16/.suo
.vs/ArcGIS_ServiceWrapper/v16/.suo
ArcGIS_ServiceCallingTest/bin/Debug/ArcGIS_ServiceCallingTest.exe
ArcGIS_ServiceCallingTest/bin/Debug/ArcGIS_ServiceCallingTest.pdb
ArcGIS_ServiceCallingTest/bin/Debug/ArcGIS_ServiceCallingWrapper.dll
ArcGIS_ServiceCallingTest/bin/Debug/ArcGIS_ServiceCallingWrapper.pdb
ArcGIS_ServiceCallingTest/obj/Debug/ArcGIS_ServiceCallingTest.csprojAssemblyReference.cache
ArcGIS_ServiceCallingTest/obj/Debug/ArcGIS_ServiceCallingTest.exe
ArcGIS_ServiceCallingTest/obj/Debug/ArcGIS_ServiceCallingTest.pdb
ArcGIS_ServiceCallingWrapper/bin/Debug/ArcGIS_ServiceCallingWrapper.dll
ArcGIS_ServiceCallingWrapper/bin/Debug/ArcGIS_ServiceCallingWrapper.pdb
ArcGIS_ServiceCallingWrapper/obj/Debug/ArcGIS_ServiceCallingWrapper.csprojAssemblyReference.cache
ArcGIS_ServiceCallingWrapper/obj/Debug/ArcGIS_ServiceCallingWrapper.dll
ArcGIS_ServiceCallingWrapper/obj/Debug/ArcGIS_ServiceCallingWrapper.pdb
